---
import { getCollection } from "astro:content";
import PageHeader from "@/components/common/PageHeader.astro";
import Item from "./Item.astro";

interface Props {
	heading: string;
	subtitle: string;
	collection: "devlog" | "projects";
}

const { heading, subtitle, collection } = Astro.props;
const collectn = await getCollection(collection);
---

<PageHeader heading={heading} subtitle={subtitle} />

<div class="container collection">
    {
        collectn.map((item) => (
            <Item
                title={item.data.title}
                description={item.data.description}
                url={`${import.meta.env.BASE_URL}${collection}/${item.id}`}
            />
        ))
    }
</div>

<style>
    .collection {
        margin-block: 1.5rem;
    }
</style>
