---
import chevronRightCircle from "@/assets/chevron-right-circle.svg?raw";
import ThemedIcon from "@/components/icons/ThemedIcon.astro";
import "./styles.css";
import radioUnchecked from "@/assets/radio-unchecked.svg?raw";
import radioChecked from "@/assets/radio-checked.svg?raw";

const projects = [
    { name: "Project 1", description: "Description 1" },
    { name: "Project 2", description: "Description 2" },
    { name: "Project 3", description: "Description 3" },
    { name: "Project 4", description: "Description 4" },
    { name: "Project 5", description: "Description 5" },
    { name: "Project 6", description: "Description 6" },
];
---

<div>
    <p id="project-name">{projects[0].name}</p>
    <p id="project-description">{projects[0].description}</p>

    {
        projects.map((_, index) => (
            <button
                class={`icon-btn project-btn ${index === 0 ? "active" : ""}`}
                data-index={index}
            >
                <span class="icon-checked hidden">
                    <ThemedIcon
                        icon={radioChecked}
                        alt="checked"
                        color="secondary"
                        size="small"
                    />
                </span>
                <span class="icon-unchecked">
                    <ThemedIcon
                        icon={radioUnchecked}
                        alt="unchecked"
                        color="secondary"
                        size="small"
                    />
                </span>
            </button>
        ))
    }
</div>

<script is:inline define:vars={{ projects }}>
    document.querySelectorAll(".project-btn").forEach((btn) => {
        btn.addEventListener("click", () => {
            const index = Number(btn.dataset.index);

            document.getElementById("project-name").innerText =
                projects[index].name;
            document.getElementById("project-description").innerText =
                projects[index].description;

            document
                .querySelectorAll(".project-btn")
                .forEach((b) => b.classList.remove("active"));
            btn.classList.add("active");
        });
    });
</script>
