---
import styles from "./Header.module.css";
import logoImage from "../../assets/logo.svg";
import menuImage from "../../assets/menu.svg";
---

<header class={styles.header}>
    <div class="container">
        <img src={logoImage.src} alt="DOOM inspired logo" class={styles.logo} />
        <img src={menuImage.src} alt="Menu" class={styles.menu} />
    </div>
</header>
